
	<div class="widget-box">
		<div class="widget-header">
			<h4 class="widget-title lighter smaller">
				<i class="ace-icon fa fa-comment blue"></i>
				<php>if($user_info['is_admin']){echo "所有消息列表"; }else{echo $user_info['deport_name']."部门消息";}</php>
			</h4>
			<span id="all_msg" data-url="{:U('Index/get_all_msg')}" style="float:right;padding:10px;">查看所有</span>
		</div>

		<div class="widget-body">
			<div class="widget-main no-padding">
				<div class="dialogs" style="height:350px;overflow-y:auto;" id="msg_list">
					<php>foreach($msgs as $value){</php>
						<include file="Index/_msg_item" />
					<php>}</php>
				</div>

				<form action="{:U('Home/Index/send_msg')}" id="msg_form" method="post">
					<div class="form-actions">
						<div class="input-group">
							<input placeholder="请输入发布内容" type="text" class="form-control" name="message" />
							<span class="input-group-btn">
								<button class="btn btn-sm btn-info no-radius" id="send_msg_btn" type="button">
									<i class="ace-icon fa fa-share"></i>
									发送
								</button>
							</span>
						</div>
					</div>
				</form>
			</div>
		</div><!-- /.widget-body -->
	</div>
