<input type="hidden" name="date_url" id="date_url" value="{:U('Product/get_product_base_info')}" />
<php>if( $product['status']==1 ){</php>
	<div class="form-group">
	<label class="col-sm-3 control-label no-padding-right" for="form-field-1"><span class="err">*</span>选择大类：</label>
	<div class="col-sm-9">
		<select name="product[category_id]" style="background:#efefef;" disabled class="col-xs-10 col-sm-5" id="product_category_id" vel="{:U('Product/get_sub_categories')}">
			<php>foreach($categories as $value){</php>
				<php>if( $value['id']==$product['category_id'] ){</php>
					<option value='{$value.id}' selected="selected">{$value.name}</option>
				<php>}else{</php>
					<option value='{$value.id}'>{$value.name}</option>
				<php>}</php>
			<php>}</php>
		</select>
                <span class="help-inline col-xs-12 col-sm-7">
                        <label class="middle">
                                <span class="lbl">请选择大类!</span>
                        </label>
                </span>
	</div>
</div>
<div class="space-4"></div>

<div class="form-group">
	<label class="col-sm-3 control-label no-padding-right" for="form-field-1"><span class="err">*</span>选择系列：</label>
	<div class="col-sm-9">
		<select name="product[sub_category_id]" vel="{:U('Product/get_classifications')}" style="background:#efefef;" class="col-xs-10 col-sm-5" disabled id="product_sub_category_id">
			<include file="Product/_sub_categories" />
		</select>
                <span class="help-inline col-xs-12 col-sm-7">
                        <label class="middle">
                                <span class="lbl">请选择系列!</span>
                        </label>
                </span>
	</div>
</div>
<div class="space-4"></div>

<div class="form-group">
	<label class="col-sm-3 control-label no-padding-right" for="form-field-1"><span class="err">*</span>选择类别：</label>
	<div class="col-sm-9">
		<select name="product[classification_id]" style="background:#efefef;" class="col-xs-10 col-sm-5" disabled id="product_classification_id">
			<include file="Product/_classifications" />
		</select>
                <span class="help-inline col-xs-12 col-sm-7">
                        <label class="middle">
                                <span class="lbl">请选择类别!</span>
                        </label>
                </span>
	</div>
</div>
<div class="space-4"></div>

<div class="form-group">
	<label class="col-sm-3 control-label no-padding-right" for="form-field-1"><span class="err">*</span>物料代码：</label>
	<div class="col-sm-9">
		<input type="text" id="product_code" name="product[code]" placeholder="物料代码" readonly class="col-xs-10 col-sm-5" value="{$product.code}" />
                <span class="help-inline col-xs-12 col-sm-7">
                        <label class="middle">
                                <span class="lbl">请填写物料代码!</span>
                        </label>
                </span>
        </div>
</div>
<div class="space-4"></div>

<div class="form-group">
	<label class="col-sm-3 control-label no-padding-right" for="form-field-1"><span class="err">*</span>辅代码：</label>
	<div class="col-sm-9">
		<input type="text" id="product_number" name="product[number]" placeholder="辅代码" readonly class="col-xs-10 col-sm-5" value="{$product.number}" />
                <span class="help-inline col-xs-12 col-sm-7">
                    <label class="middle">
                            <span class="lbl">请填写辅代码!</span>
                    </label>
                 </span>
        </div>
</div>
<div class="space-4"></div>

<div class="form-group">
	<label class="col-sm-3 control-label no-padding-right" for="form-field-1"><span class="err">*</span>产品名称：</label>
	<div class="col-sm-9">
		<input type="text" id="product_name" name="product[name]" placeholder="产品名称" readonly class="col-xs-10 col-sm-5" value="{$product.name}" />
	</div>
</div>
<div class="space-4"></div>
<php>}else{</php>
	<div class="form-group">
		<label class="col-sm-3 control-label no-padding-right" for="form-field-1"><span class="err">*</span>选择大类：</label>
		<div class="col-sm-9">
			<select name="product[category_id]" class="col-xs-10 col-sm-5" id="product_category_id" vel="{:U('Product/get_sub_categories')}">
				<php>foreach($categories as $value){</php>
					<php>if( $value['id']==$product['category_id'] ){</php>
						<option value='{$value.id}' selected="selected">{$value.name}</option>
					<php>}else{</php>
						<option value='{$value.id}'>{$value.name}</option>
					<php>}</php>
				<php>}</php>
			</select>
	                <span class="help-inline col-xs-12 col-sm-7">
	                        <label class="middle">
	                                <span class="lbl">请选择大类!</span>
	                        </label>
	                </span>
		</div>
	</div>
	<div class="space-4"></div>
	
	<div class="form-group">
		<label class="col-sm-3 control-label no-padding-right" for="form-field-1"><span class="err">*</span>选择系列：</label>
		<div class="col-sm-9">
			<select name="product[sub_category_id]"  vel="{:U('Product/get_classifications')}" class="col-xs-10 col-sm-5" id="product_sub_category_id"  >
				<include file="Product/_sub_categories" />
			</select>
	                <span class="help-inline col-xs-12 col-sm-7">
	                        <label class="middle">
	                                <span class="lbl">请选择系列!</span>
	                        </label>
	                </span>
		</div>
	</div>
	<div class="space-4"></div>
	
	<div class="form-group">
		<label class="col-sm-3 control-label no-padding-right" for="form-field-1"><span class="err">*</span>选择类别：</label>
		<div class="col-sm-9">
			<select name="product[classification_id]" class="col-xs-10 col-sm-5" id="product_classification_id">
				<include file="Product/_classifications" />
			</select>
	                <span class="help-inline col-xs-12 col-sm-7">
	                        <label class="middle">
	                                <span class="lbl">请选择类别!</span>
	                        </label>
	                </span>
		</div>
	</div>
	<div class="space-4"></div>
	
	<div class="form-group">
		<label class="col-sm-3 control-label no-padding-right" for="form-field-1"><span class="err">*</span>物料代码：</label>
		<div class="col-sm-9">
			<input type="text" id="product_code" name="product[code]" placeholder="物料代码" class="col-xs-10 col-sm-5" value="{$product.code}" autocomplete="off" />
	                <span class="help-inline col-xs-12 col-sm-7">
	                        <label class="middle">
	                                <span class="lbl">请填写物料代码!</span>
	                        </label>
	                </span>
	        </div>
	</div>
	<div class="space-4"></div>
	
	<div class="form-group">
		<label class="col-sm-3 control-label no-padding-right" for="form-field-1"><span class="err">*</span>辅代码：</label>
		<div class="col-sm-9">
			<input type="text" id="product_number" name="product[number]" placeholder="辅代码" class="col-xs-10 col-sm-5" value="{$product.number}" autocomplete="off"  />
	                <span class="help-inline col-xs-12 col-sm-7">
	                    <label class="middle">
	                            <span class="lbl">请填写辅代码!</span>
	                    </label>
	                 </span>
	        </div>
	</div>
	<div class="space-4"></div>
	
	<div class="form-group">
		<label class="col-sm-3 control-label no-padding-right" for="form-field-1"><span class="err">*</span>产品名称：</label>
		<div class="col-sm-9">
			<input type="text" id="product_name" name="product[name]" placeholder="产品名称" class="col-xs-10 col-sm-5" value="{$product.name}" autocomplete="off" />
	                <span class="help-inline col-xs-12 col-sm-7">
	                        <label class="middle">
	                                <span class="lbl">请填写产品名称!</span>
	                        </label>
	                </span>
	        </div>
	        
	</div>
	<div class="space-4"></div>

<php>}</php>


<div class="form-group">
	<label class="col-sm-3 control-label no-padding-right" for="form-field-tags"><span class="err">*</span>现价：</label>
	<div class="col-sm-9">
		<input type="text" id="product_now_price" name="product[now_price]" min="0"  placeholder="现价" class="col-xs-10 col-sm-5" value="{$product.now_price}" />
                <span class="help-inline col-xs-12 col-sm-7">
                        <label class="middle">
                                <span class="lbl">请填写现价!</span>
                        </label>
                </span>
        </div>
</div>
<div class="space-4"></div>

<div class="form-group">
	<label class="col-sm-3 control-label no-padding-right" for="form-field-tags"><span class="err">*</span>统一售价：</label>
	<div class="col-sm-9">
		<input type="text" id="product_sold_price" name="product[sold_price]" min="0"  placeholder="售价" class="col-xs-10 col-sm-5" value="{$product.sold_price}" />
                <span class="help-inline col-xs-12 col-sm-7">
                        <label class="middle">
                                <span class="lbl">请填写统一售价!</span>
                        </label>
                </span>
        </div>
</div>
<div class="space-4"></div>

<div class="form-group">
	<label class="col-sm-3 control-label no-padding-right" for="form-field-tags"><span class="err">*</span>最低售价：</label>
	<div class="col-sm-9">
		<input type="text" min="0"  id="product_min_price" name="product[min_price]"  placeholder="最低售价" class="col-xs-10 col-sm-5" value="{$product.min_price}" />
                <span class="help-inline col-xs-12 col-sm-7">
                        <label class="middle">
                                <span class="lbl">请填写最低售价!</span>
                        </label>
                </span>
        </div>
</div>
<div class="space-4"></div>

<div class="form-group">
	<label class="col-sm-3 control-label no-padding-right" for="form-field-tags">起订量：</label>
	<div class="col-sm-9">
		<input type="number" min='1' id="product_min_num" name="product[min_num]" placeholder="起订量" class="col-xs-10 col-sm-5" value="{$product.min_num}" />
	</div>
</div>
<div class="space-4"></div>

<div class="form-group">
	<label class="col-sm-3 control-label no-padding-right" for="form-field-tags"><span class="err">*</span>生产周期：</label>
	<div class="col-sm-9">
		<input type="number" id="product_days" name="product[days]" placeholder="生产周期(数字)" class="col-xs-10 col-sm-5" value="{$product.days}" />
                <span class="help-inline col-xs-12 col-sm-7">
                        <label class="middle">
                                <span class="lbl">请填写生产周期!</span>
                        </label>
                </span>
        </div>
</div>
<div class="space-4"></div>

<div class="form-group">
	<label class="col-sm-3 control-label no-padding-right" for="form-field-tags"><span class="err">*</span>计划完成时间：</label>
	<div class="col-sm-9">
		<input type="text" id="product_ptime" name="product[ptime]" placeholder="完成时间（格式：YYYY-MM-DD HH:mm:ss ）" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})"  class="col-xs-10 col-sm-5" value="<php>if(!empty($product['ptime'])){echo date('Y-m-d H:i:s',$product['ptime']);}</php>" />
                <span class="help-inline col-xs-12 col-sm-7">
                        <label class="middle">
                                <span class="lbl">请填写计划完成时间!</span>
                        </label>
                </span>
        </div>
</div>
<div class="space-4"></div>

<div class="form-group">
	<label class="col-sm-3 control-label no-padding-right" for="form-field-tags">排序：</label>

	<div class="col-sm-9">
		<input type="number"  id="product_rank" name="product[rank]" placeholder="排序" class="col-xs-10 col-sm-5" value="{$product.rank}" />
	</div>
</div>

<div class="space-4"></div>

<div class="form-group">
	<label class="col-sm-3 control-label no-padding-right" for="form-field-tags">描述：</label>

	<div class="col-sm-9">
		<textarea name="product[content]" id="product_content" rows="3" cols="45">{$product.content}</textarea>
	</div>
</div>
<div class="space-4"></div>

<div class="form-group">
	<label class="col-sm-3 control-label no-padding-right" for="form-field-tags"><span class="err">*</span>产品图片：</label>

	<div class="col-sm-9-file">
			<php>if( !empty($product['pic_path']) ){</php>
	        	<img style="float:left;" src="<php>echo C('WEBURL').$product['pic_path'];</php>" width="50" height="50" />
	        <php>}</php>
            <input type="hidden" name="product_pic_path" id="product_pic_path" value="{$product.pic_path}" />
            <input type="file"  id="product_file" name="file" placeholder="产品图片" class="col-xs-10 col-sm-5" />
            <span class="help-inline col-xs-12 col-sm-7">
                    <label class="middle">
                            <span class="lbl">请上传产品图片!</span>
                    </label>
            </span>
        </div>
</div>
<div class="space-4"></div>
