<div class="ace-settings-container" id="ace-settings-container"></div>
<div class="page-content-area">
		<include file='layouts/_sub_location' />
		<div class="row">
				<div class="col-xs-12">
						<form class="form-horizontal" action="{:U('DoPromotionMeeting/update_info')}" method="post" role="form">
								<input type="hidden" name="do_promotion_meeting[id]" id="do_promotion_meeting" value="{$do_promotion_meeting.id}" />
								<div class="form-group">
									<include file="layouts/_notice" />
								</div>
								<include file="DoPromotionMeeting/_form" />
								<div class="clearfix form-actions">
									<div class="col-md-offset-3 col-md-9">
										<button class="btn btn-info" id="btn" vel="edit" type="submit">
											<i class="ace-icon fa fa-check bigger-110"></i>
											提交
										</button>
										&nbsp; &nbsp; &nbsp;
										<button class="btn" type="button" name="back_btn">
											<i class="ace-icon fa fa-undo bigger-110"></i>
											返回上页
										</button>
									</div>
								</div>
						</form>
				 </div>
		 </div>
</div>