<div class="ace-settings-container" id="ace-settings-container"></div>
<div class="page-content-area">
    <!-- <include file='layouts/_sub_location' />-->
    <div class="row">
        <div class="col-xs-12">
            <form class="form-horizontal" action="" role="form">
                <div id="show_info">
                    <div class="t-title">市场客户退货申请单</div>
                    <table class="t-info">
                        <tr>
                            <th colspan="9">
                                单据号：{$return.no}
                            </th>
                        </tr>
                        <tr>
                            <td colspan="9">
                                客户名称 : {$return.user_name}
                            </td>
                        </tr>
                        <tr class="t-l">
                            <td colspan="9" class="att">
                                退货原因:
                                <textarea class="atx" name="return[reason]" id="return_reason" placeholder="退货原因"
                                          readonly rows="5" cols="50">{$return.reason}</textarea>
                            </td>
                        </tr>
                        <include file="DoCustomerReturn/_items"/>
                        <tr>
                            <th>总合格</th>
                            <td class="r-line">
                                {$return.succ_num}
                            </td>
                            <th>总待修</th>
                            <td class="r-line">
                                {$return.warn_num}
                            </td>
                            <th>总报废</th>
                            <td class="r-line" colspan="2">
                                {$return.err_num}
                            </td>
                        </tr>
                        <tr>
                            <th>客户年累计退货率</th>
                            <td class="r-line">
                                {$return.user_rate}
                            </td>
                            <th>客户年累计报损率</th>
                            <td class="r-line" colspan="4">
                                {$return.warn_rate}
                            </td>
                        </tr>
                        <tr>
                            <th>办事处年累计退货率</th>
                            <td class="r-line">
                                {$return.do_user_rate}
                            </td>
                            <th>办事处年累计报损率</th>
                            <td class="r-line" colspan="4">
                                {$return.do_warn_rate}
                            </td>
                        </tr>
                        <a href="{:U('DoExplosion/get_products_info')}" style="display: none" id="item_url"></a>
                        <php>if(intval($id)>0){</php>
                        <input type="hidden" name="return[id]" value="{$id}">
                        <php>}</php>
                    </table>
                </div>
                <div class="clearfix form-actions">
                    <div class="col-md-offset-3 col-md-9">
                        <button class="btn btn-info" id="btn" vel="add" type="submit">
                            <i class="ace-icon fa fa-check bigger-110"></i>
                            提交
                        </button>

                        &nbsp; &nbsp; &nbsp;
                        <button class="btn" type="button" name="back_btn">
                            <i class="ace-icon fa fa-undo bigger-110"></i>
                            返回上页
                        </button>
                        &nbsp; &nbsp; &nbsp;&nbsp;
                        <button class="btn btn-info" type="button" name="print_info">
                            打印
                        </button>
                    </div>
                </div>
            </form>
        </div><!-- /.col -->
    </div><!-- /.row -->
</div>