<div class="form-group">
	<label class="col-sm-3 control-label no-padding-right" for="form-field-1">选择大类：</label>
	<div class="col-sm-9">
		<select name="sub_category[category_id]" id="sub_category_category_id">
			<php>foreach($categories as $value){</php>
				<php>if( $value['id']==$sub_category['category_id'] ){</php>
					<option value='{$value.id}' selected="selected">{$value.name}</option>
				<php>}else{</php>
					<option value='{$value.id}'>{$value.name}</option>
				<php>}</php>
			<php>}</php>
		</select>
	</div>
</div>
<div class="space-4"></div>

<div class="form-group">
	<label class="col-sm-3 control-label no-padding-right" for="form-field-1">系列名称：</label>
	<div class="col-sm-9">
		<input type="text" id="sub_category_name" name="sub_category[name]" placeholder="系列名称" class="col-xs-10 col-sm-5" value="{$sub_category.name}" />
	</div>
</div>
<div class="space-4"></div>

<div class="form-group">
	<label class="col-sm-3 control-label no-padding-right" for="form-field-tags">描述：</label>
	<div class="col-sm-9">
		<textarea name="sub_category[content]" id="sub_category_content" placeholder="描述" rows="5" cols="50">{$sub_category.content}</textarea>
	</div>
</div>

<div class="space-4"></div>

<div class="form-group">
	<label class="col-sm-3 control-label no-padding-right" for="form-field-tags">排序：</label>

	<div class="col-sm-9">
		<input type="text" id="sub_category_rank" name="sub_category[rank]" placeholder="排序" class="col-xs-10 col-sm-5" value="{$sub_category.rank}" />
	</div>
</div>

<div class="space-4"></div>
