<div class="form-group">
	<label class="col-sm-3 control-label no-padding-right" for="form-field-1-1">部门名称：</label>

	<div class="col-sm-9">
		<input type="text" id="deport_name" name="deport[name]" placeholder="部门名称" class="col-xs-10 col-sm-5" value="{$deport.name}" />
	</div>
</div>
<div class="space-4"></div>

<div class="form-group">
	<label class="col-sm-3 control-label no-padding-right" for="form-field-tags">描述：</label>

	<div class="col-sm-9">
		<textarea name="deport[content]" id="deport_content" placeholder="描述" rows="5" cols="50">{$deport.content}</textarea>
	</div>
</div>
<div class="space-4"></div>

<div class="form-group">
	<label class="col-sm-3 control-label no-padding-right" for="form-field-1-1">排序：</label>

	<div class="col-sm-9">
		<input type="text" id="deport_rank" name="deport[rank]" placeholder="排序" class="col-xs-10 col-sm-5" value="{$deport.rank}" />
	</div>
</div>
<div class="space-4"></div>